html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

@media (max-width: 690px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu-toggle {
    display: flex;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: flex;
  width: 250px;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin: 2em;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 80px;
  background-color: #f6f6f6;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  list-style-type: none;
  padding-left: 0;
}

.navbar-menu li {
  display: inline-block;
}

.navbar-menu li a {
  color: #282e14;
  opacity: 0.7;
  text-decoration: none;
}

.navbar-menu li a:hover {
  opacity: 1;
}

.navbar-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  margin: 15px;
}

.navbar-brand {
  font-family: "Alumni Sans", sans-serif;
  font-size: 25px;
}

.card-holders {
  display: flex;
  justify-content: center;
}

.card1 {
  box-shadow: -1px 6px 12px 0px #00000040;
  width: 586px;
  height: 477px;
  margin-right: 17px;
  margin-top: 27px;
}

.card2 {
  width: 716px;
  height: 477px;
  margin-top: 26px;
}

.card-title {
  width: 625px;
  height: 117px;
  padding-top: 100px;
  padding-left: 27px;
  text-align: left;
  margin-bottom: 15px;
  font-family: "Alumni Sans", sans-serif;
  font-weight: 300;
  font-size: 52px;
}

.card-desc {
  width: 430px;
  height: 46px;
  padding-top: 100px;
  padding-left: 27px;
  text-align: left;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.card-button {
  width: 259px;
  height: 49px;
  margin-top: 100px;
  margin-right: 300px;
  margin-left: 27px;
  box-shadow: 0px 6px 12px 0px #a1bd4d inset;
  background-color: #a1bd4d;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #f6f6f6;
}

.navbar {
  border-bottom: 1px solid #ddd;
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
  flex-wrap: wrap;
}

.navbar-wrap {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  flex: 1;
}

.desktop-menu {
  display: flex;
  align-items: center;
  flex: 1;
}

.navbar-menu {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin-right: 20px;
}

.profile-menu {
  position: relative;
  cursor: pointer;
  margin-right: 20px;
}

.profile-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.profile-dropdown,
.mobile-menu {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 20px;
  z-index: 100;
  backdrop-filter: blur(10px);
  width: calc(100% - 40px);
  min-width: 300px;
}

.profile-dropdown ul,
.mobile-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.profile-dropdown li,
.mobile-menu ul li {
  margin-bottom: 10px;
}

.profile-dropdown button,
.mobile-menu ul li button {
  background-color: rgb(161, 189, 77);
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  width: 100%;
  box-sizing: border-box;
}

.mobile-menu-toggle {
  display: none;
  align-items: center;
}

.mobile-menu-toggle button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mobile-menu-toggle span {
  font-size: 24px;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
}

.logo {
  margin-bottom: 10px;
}

.search-form {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.search-form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
  width: 200px;
}

.search-form button {
  padding: 10px;
  background-color: black;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.mobile-menu-toggle {
  display: none;
  align-items: center;
}

.mobile-menu-toggle button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.mobile-menu-toggle span {
  font-size: 24px;
}

.mobile-menu {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  z-index: 100;
  width: calc(100% - 40px);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
}

.logo {
  margin-bottom: 10px;
}

.mobile-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.mobile-menu ul li {
  margin-bottom: 10px;
  text-decoration: none;
}

@media (max-width: 800px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu-toggle {
    display: flex;
    margin-bottom: 10px;
  }
}
